<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.naca.mealacle">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name=".p01.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
        </activity>

        <activity android:name=".p02.UnivSelectActivity">
        </activity>

        <activity android:name=".p03.HomeActivity">
        </activity>

        <activity android:name=".p04.CategoryActivity">
        </activity>

        <activity android:name=".p05.ProductActivity">
        </activity>

        <activity android:name=".p06.BasketActivity">
        </activity>

        <activity android:name=".p07.OrderActivity">
        </activity>

        <activity android:name=".p08.OrderSuccessActivity">
        </activity>

        <activity android:name=".p09.NotifyActivity">
        </activity>

        <activity android:name=".p11.OrderedHistoryActivity">
        </activity>

        <activity android:name=".p12.RiderActivity">
        </activity>

        <activity android:name=".p13.RiderPageActivity">
        </activity>

        <activity android:name=".p14.EmploymentActivity">
        </activity>

        <activity android:name=".p15.DeliveryActivity">
        </activity>


    </application>

</manifest>